::ng-deep {
	.mat-sort-header-container {
		width: 100%;
	}
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-left {
	display: flex;
}

.example-list {
	width: 1000px;
	max-width: 100%;
	border: solid 1px #ccc;
	min-height: 60px;
	display: flex;
	flex-direction: row;
	background: white;
	border-radius: 4px;
	overflow: hidden;
}

.example-box {
	padding: 20px 10px;
	border-right: solid 1px #ccc;
	color: rgba(0, 0, 0, 0.87);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	cursor: move;
	background: white;
	font-size: 14px;
	flex-grow: 1;
	flex-basis: 0;
}

.cdk-drag-preview {
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
		0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
	opacity: 0;
}

.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
	border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.table-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}

.column-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 0 30px;
}


.resize-handle {
	display: inline-block;
	border-right: 2px solid lightgray;
	top: 0;
	right: 0;
	position: relative;
	height: inherit;
	cursor: col-resize;
	opacity: 1;
}



.size-0 {

	font-size: 10px;
	padding: 0 4px !important;
}

.size-10 {

	font-size: 12x;
	padding: 5px 6px !important;
}

.size-20 {
	font-size: 14px;
	padding: 10px 8px !important;
}

.size-30 {
	font-size: 16px;
	padding: 15px 10px !important;
}

.size-40 {
	font-size: 18px;
	padding: 20px 12px !important;
}	

.size-50 {
	font-size: 20px;
	padding: 25px 14px !important;
}

.size-60 {
	font-size: 22px;
	padding: 30px 16px !important;
}

.size-70 {
	font-size: 24px;
	padding: 35px 18px !important;
}

.size-80 {
	font-size: 26px;
	padding: 40px 20px !important;
}

.size-90 {
	font-size: 28px;
	padding: 45px 22px !important;
}

.size-100 {
	font-size: 30px;
	padding: 50px 24px !important;
}


