<div class="table-container mat-elevation-z8">
    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="side" [(opened)]="opened" position="end">
            <div class="column-list" *ngFor="let col of displayedColumns">
                <mat-checkbox [(ngModel)]="col.display">{{col.title}}</mat-checkbox>
            </div>
        </mat-sidenav>
        <!-- Body -->

        <mat-sidenav-content>
            <div class="table-header">
                <div class="table-header-title">
                    <mat-icon>list</mat-icon>
                    <span>{{title}}</span>
                </div>
                <mat-checkbox [(ngModel)]="opened">Settings</mat-checkbox>
            </div>

            <table mat-table matSort class="mat-elevation-z8"  [dataSource]="dataSource" cdkDropList
                (cdkDropListDropped)="drop($event)" cdkDropListOrientation="horizontal">
                <ng-container *ngFor="let col of getDisplayedColumns();let i = index" [matColumnDef]="col.name">
                    <th [ngClass]="sizeValue" mat-header-cell *matHeaderCellDef cdkDragLockAxis="x" cdkDrag>
                        <div class="header-container">
                            <mat-icon *ngIf="col.icon">{{col.icon}}</mat-icon>
                        
                            {{col.title}}
    
                            
                            <mat-menu #menu>
                                <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
                                    {{col.title}}
                                </div>
    
                                <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title" (click)="sortTable(col.name, 'asc')">
                                    Sort from A to Z <mat-icon>sort_by_alpha</mat-icon>
                                </div>
                                <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title" (click)="sortTable(col.name, 'desc')">
                                    Sort from Z to A <mat-icon>sort_by_alpha</mat-icon>
                                </div>
                                <div mat-menu-item mat-filter-item [disableRipple]="true">
                                    <mat-form-field>
                                        <input matInput placeholder="Value" [(ngModel)]="searchValue[col.name]">
                                    </mat-form-field>
                                </div>
    
                                <div mat-menu-item mat-filter-item [disableRipple]="true">
                                    <button mat-raised-button (click)="clearColumn(col.name)">Clear</button>
                                    <button mat-raised-button color="primary" (click)="applyFilter()">Search</button>
                                </div>
                            </mat-menu>
                            <div>
                                <button mat-icon-button click-stop-propagation class="btn-toggle table-header-button btn-sm"
                                [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                                </button>
                                <span class="resize-handle" (mousedown)="onResizeColumn($event, i)"></span>
                            </div>
                           
                        </div>
                        
                    </th>

                    <td [ngClass]="sizeValue" mat-cell *matCellDef="let element">
                        <ng-container
                            *ngComponentOutlet="getComponentByType(col.type); injector: getInjector(element[col.name])">
                            {{element[col.name]}}
                        </ng-container>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsKeys"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsKeys;"></tr>

                <tr mat-row *matNoDataRow>
                    <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                        No data.
                    </td>
                </tr>
            </table>


            <div *ngIf="isLoading"
                style="display: flex; justify-content: center; align-items: center; background: white;">
                <mat-progress-spinner color="primary" mode="indeterminate">
                </mat-progress-spinner>
            </div>

            <mat-slider
                [max]="100"
                [min]="0"
                [step]="10"
                discrete="Zoom Percentage(%)">
                <input matSliderThumb [(ngModel)]="zoomPercentage" #slider (ngModelChange)="onZoomChange($event)">
             </mat-slider>

            <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex" [length]="length"
                showFirstLastButtons aria-label="Select page">
            </mat-paginator>

        </mat-sidenav-content>
    </mat-sidenav-container>


</div>